<%= form_with model: @habit, local: true do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :frequency %><br>
    <%= f.select :frequency, ["daily", "weekly", "monthly"] %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>